 * {
     margin: 0;
     padding: 0;
     text-decoration: none;
 }

 a {
     color: #fff;
 }

 .VIP-nav {
     background-color: #333;
     color: #fff;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px;
 }

 .VIP-nav h1 {
     font-size: 2em;
     display: flex;
     justify-content: end;
     width: 20vw;
     height: 100%;

 }

 .VIP-nav a {
     font-size: 20px;
     margin-right: 10vw;
 }

 .VIP-nav a::after {
     content: "";
     display: block;
     width: 0;
     height: 2px;
     background-color: #fff;
     transition: width 0.3s ease-in-out;
 }

 .VIP-nav a:hover::after {
     width: 100%;
 }

 .vip-content {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 50px;
     background: radial-gradient(ellipse at center, #41efbebc, #b6e9ff80);
 }

 .vip-content h1 {
     font-size: 3em;
     margin-bottom: 20px;
 }

 .vip-content p {
     font-size: 1.5em;
     margin-bottom: 50px;
 }

 .vip-content2 ul {
     list-style: none;
     display: flex;
     justify-content: center;

 }

 .vip-content2 {
     background: linear-gradient(to bottom, #b6e9ffc6, #5bceff);
     padding: 50px;

 }

 .vip-content2 h2 {
     font-size: 2em;
     margin-bottom: 10vh;
     text-align: center;
 }

 .vip-content2 ul {
     position: relative;
     margin-bottom: 50px;


 }


 .vip-content2 ul li {

     left: calc(var(--y) * 1% + 120px);
     position: absolute;
     font-size: 15px;
     font-weight: bold;
 }



 .loader {
     display: flex;
     width: 80vw;
     height: 60vh;

     border-top-color: #333;
     margin: 0 auto;
     position: relative;
 }

 .loader-inner {
     display: inline-block;
     width: 25%;
     height: 100%;
     margin: 0 5px;
     border: white 2px solid;
     background-color: #eefa0b;
     position: absolute;
     left: calc(var(--y) * 1%);
     border-radius: 5px;
     cursor: pointer;
 }

 .loader-inner ol li {
     text-align: center;
     line-height: 30px;
     color: rgb(0, 0, 0);
 }

 .loader-inner ol li:nth-child(1) {
     margin-top: 20px;
 }

 .loader-inner ol {
     margin: 0 auto;
     display: grid;
     list-style: none;
     grid-gap: 10px;
     justify-self: center;
     align-self: center;
 }

 .loader-inner button {
     background-color: #2f4548;
     color: white;
     width: 10vw;
     justify-self: center;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
     margin-top: 20px;
 }

 .loader-inner button:hover {
     background-color: #4c696d;

 }

 .loader-inner:hover {
     background-color: #d7ff45;
     width: 20vw;
     position: absolute;
     box-shadow: 6px 6px 10px #333;
 }

 footer {
     background-color: #333;
     color: #fff;
     display: grid;
     padding: 30px;

 }

 footer p {
     margin-bottom: 10px;
     font-size: 1.2em;
     text-align: center;

 }

 .shoukuanma {
     position: fixed;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: auto;
     height: 40vh;

     display: none;
     justify-content: center;
     align-items: center;
     z-index: 1;

 }

 .shoukuanma::before {
     content: "请扫描该二维码完成支付";
     color: white;
     text-align: center;
     font-size: 2em;
     line-height: 100px;
     width: 80vw;
     height: 80vh;
     position: fixed;

     background-color: rgba(0, 0, 0, 0.5);
     z-index: -1;
 }

 .shoukuanma button {

     color: rgba(102, 102, 102, 0.721);
     text-align: center;
     line-height: 5vh;
     font-size: 2em;
     cursor: pointer;
     position: fixed;
     top: -15vh;
     right: -30vw;
     width: 5vh;
     height: 5vh;
     background-color: rgba(255, 255, 255, 0.653);
 }




 .shoukuanma img {
     width: 100%;
     height: 100%;
     flex: 1;
 }

 .shoukuanma p {
     background: none;
     color: white;
     font-size: 2em;
     text-align: center;
     margin-top: 20px;
     margin-bottom: 20px;
     position: absolute;
     bottom: -30%;
     left: 50%;
     transform: translate(-50%, 0);
     width: 20vw;
 }

 .shoukuanma-Choice {
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;

     left: 50%;
     transform: translate(-50%, 0);
     width: 20vw;
     height: 10vh;

     border-radius: 5px;

 }

 .shoukuanma-Choice a {
     position: absolute;
     left: calc(var(--i) * 1%);
     transform: translate(-50%, 0);
     width: 50%;
     height: 100%;
     bottom: -32vh;
     background-color: rgba(255, 255, 255, 0.729);
     display: none;
     border: black 1px solid;
     justify-content: center;
     align-items: center;
     color: #333;
     font-size: 1.5em;
     border-radius: 5px;
     text-decoration: none;
     transition: all 0.3s ease-in-out;
 }

 .lodin {
     position: fixed;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 100vw;
     height: 100vh;

     z-index: 1;
     background-color: rgb(83, 83, 83);
     color: white;
     font-size: 2em;
     text-align: center;
     display: none;

 }

 .lodin span {
     position: absolute;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     margin: 0 10px;
     left: calc(var(--w));
     background-color: white;
     animation: lodin 1.5s infinite linear;
     animation-delay: calc(var(--m)*0.3s);
 }

 @keyframes lodin {
     0% {
         background-color: rgb(83, 83, 83);
     }

     50% {
         background-color: white;
     }

     100% {
         background-color: rgb(255, 255, 255);
     }
 }

 .lodin h2 {
     font-size: 3em;
     line-height: 50vh;
     text-align: center;

 }